body {
  background-color: #fff;
  color: #434455;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

header {
  border-bottom: 1px solid #e7e9fc;
}

.section {
  padding: 120px 0;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header section */

.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.167;
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
  text-transform: uppercase;
}

.header-logo {
  color: #2e2f42;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
}

.nav-menu-item:not(:last-child),
.contact-item:not(:last-child) {
  margin-right: 40px;
}

.nav-link-item {
  color: #2e2f42;
  font-weight: 500;
  padding: 24px 0;
}

.nav-link-item:hover,
.nav-link-item:focus {
  color: #404bbf;
}

.contact-wrapper {
  margin-left: auto;
}

.contact-list {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.contact-item {
  display: flex;
}

.contact-link {
  color: #434455;
  font-style: normal;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* Hero section */

.hero-section {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}

.hero-title {
  max-width: 496px;
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.04em;
  padding: 16px 32px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* Features section */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  column-gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-subtitle {
  margin-bottom: 8px;
}

.features-subtitle,
.team-subtitle,
.portfolio-subtitle {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

/* Team section */

.team-list {
  display: flex;
  column-gap: 24px;
}

.team-subtitle,
.team-text {
  text-align: center;
}

.team-section {
  background-color: #f4f4fd;
}

.team-item {
  background-color: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
}

.team-wrapper {
  padding: 32px 16px;
}

.team-subtitle {
  margin-bottom: 8px;
}

.section-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
}

/* Portfolio section */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-wrapper {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-text {
  color: #434455;
  margin-top: 8px;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  color: #f4f4fd;
  text-transform: uppercase;
}

.logo-bottom {
  margin: 0;
  padding: 0;
}

.footer-text {
  max-width: 264px;
  color: #f4f4fd;
  margin-top: 16px;
}
